@import '../../scss/_variables.scss';
@import '../../scss/_breakpoin.scss';

.footer {
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: $black-color;

    @include tablet {
        padding: 120px 24px 20px;
    }

    @include mobile {
        padding: 70px 0 0;
    }

    & .main__footer-row {
        display: flex;
        justify-content: space-between;

        & .footer-list:nth-child(1) {
            width: 30%;

            & h5 {
                margin-bottom: 0;
            }

            & ul li:nth-child(1) a {
                color: $orange-color;
            }
        }

        @include mobile {
            flex-direction: column;
            gap: 40px;
        }

        & .content h5 {
            color: $white-color;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 30px;
            font-weight: 400;

            @include tablet {
                margin-bottom: 0;
            }
        }

        & .content span {
            color: $white-color;
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            display: inline-block;
            margin-top: 45px;
        }

        & .content ul {
            padding-left: 0;
            list-style: none;

            & li,
            li > a {
                margin: 10px 0;
                color: #a6a4a4;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.01em;

                & > a {
                    text-decoration: none;
                    &:hover {
                        color: $orange-color;
                    }
                }
                & .number {
                    color: #ff824c;
                }
            }
        }
    }

    & .area__footer-bottom {
        padding-top: 150px;

        @include tablet {
            padding-top: 80px;
        }

        @include mobile {
            padding-top: 30px;
        }

        & .footer__bottom-row {
            display: flex;

            @include mobile {
                flex-direction: column;
                justify-content: center;
                gap: 25px;
            }

            & .row-reserved {
                width: 50%;

                @include mobile {
                    width: 100%;
                    text-align: center;
                }

                & p {
                    color: #9f9da5;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 36px;
                    margin-bottom: 0;
                }
            }

            & .row-socials {
                width: 50%;
                text-align: right;

                @include mobile {
                    width: 100%;

                    text-align: center;
                }

                & .social-icons a {
                    color: #a9a8ad;
                    font-size: 20px;
                    margin: 0 10px;
                    display: inline-block;
                    transition: 0.5s;

                    &:hover {
                        transform: translateY(-10px);
                        color: $orange-color;
                    }
                }
            }
        }
    }
}
