@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap');
@import './scss/_variables.scss';
@import './scss/_breakpoin.scss';

.App {
    position: relative;
    background-color: rgb(244, 244, 244);
    overflow: hidden;
    font-family: 'Arimo', sans-serif;

    & .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 12px;
    }

    & .title {
        font-weight: 500;
        color: $black-color;
        letter-spacing: -0.01em;
        margin-bottom: 20px;
        font-size: 50px;
        line-height: 1.1;
    }

    & .title-lg {
        font-size: 60px;
        letter-spacing: -0.01em;
        line-height: 96px;
        margin: 0px 0px 18px;
        text-align: center;
        color: rgb(33, 33, 33);
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        line-height: 1.2;
    }

    & p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
    }

    & .under-title-lg {
        font-size: 18px;
    }

    & .typo-underline {
        &::before {
            content: '';
            width: 100%;
            left: 0;
            bottom: 0;
            height: 2px;
            position: absolute;
            background: #fc6b75;
        }

        position: relative;
        color: #fc6b75;
    }
}
